<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fpy">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:networkSecurityConfig="@xml/network_security_config"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".QrCode" />
        <activity android:name=".CheckoutActivitySarawakPay" />
        <activity android:name=".CheckoutActivityOnline" />
        <activity android:name=".CheckoutActivityCredit" />
        <activity android:name=".live_chats" />
        <activity android:name=".payment_method" />
        <activity android:name=".Payment_successful" />
        <activity android:name=".Payment" />
        <activity android:name=".success_booking" />
        <activity android:name=".booking_detail" />
        <activity android:name=".Time_facility" />
        <activity android:name=".Date_facility" />
        <activity android:name=".Facility" />
        <activity android:name=".Profile" />
        <activity android:name=".DashBoard" />
        <activity android:name=".login" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:authorities="${applicationId}.provider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_path"/>
        </provider>


    </application>

</manifest>